body {
  margin: 10;
  padding: 0;
  font-family: sans-serif;
  background: #fbfafc;
  font-family: "Segoe UI";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  border: 1.2px solid #141414;
  background: #fff;
  width: 50%;
  font-size: 1.2rem;
  padding: 10px;
  outline: none;
  border-radius: 2px;
}
::placeholder {
  font-size: 1.2rem;
  font-family: "Segoe UI";
}
.title {
  font-size: 2.5rem;
}

.button {
  background: #fff;
  border: 1.2px solid #141414;
  padding: 15px 25px;
  border-radius: 40px;
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
  outline: none;
  width: 50%;
}

.button:hover {
  background: #141414;
  color: #fff;
}

.content {
  line-height: 2rem;
}

.error {
  color: #ff5a5f;
  text-align: center;
  font-size: 2rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
  margin: 60px;
}

table, td {
  border-collapse: collapse;
  border: 1px solid #000000;
}

