body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fbfafc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.org {
  border: 1.2px solid #141414;
  background: #fff;
  width: 50%;
  font-size: 1.2rem;
  padding: 10px;
  outline: none;
  border-radius: 2px;
}
::placeholder {
  font-size: 1.2rem;
}
.title {
  font-size: 2.5rem;
}

.button {
  background: #fff;
  border: 1.2px solid #141414;
  padding: 15px 25px;
  border-radius: 40px;
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
  outline: none;
  width: 50%;
}

.button:hover {
  background: #141414;
  color: #fff;
}

.content {
  line-height: 2rem;
}

.error {
  color: #ff5a5f;
  text-align: center;
  font-size: 2rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 20px;
  margin: 60px;
}

table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #000000;
}

thead {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

td {
  text-align: left;
  padding: 16px;
}

.App {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.pagination {
  text-align: right;
  font-weight: bold;
}

.link {
  text-decoration: underline;
  cursor: pointer
}
.filterform {
  text-align: left;
}
.filter {
  border: 1.2px solid #141414;
  background: #fff;
  text-align: left;
  font-size: 0.8rem;
  /* width: 50%; */
  padding: 10px;
  outline: none;
  border-radius: 2px;
}

.filterbutton {
  border: 1.2px solid #141414;
  background: #fff;
  /* text-align: left; */
  font-size: 0.8rem;
  /* width: 50%; */
  padding: 10px;
  outline: none;
  border-radius: 2px;
}